BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
ColumnLimit: 120

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertBraces: true
BreakBeforeBraces: Allman
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseSensitive
